@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  font-family: Work Sans;
  padding: 0px;
  margin: 0px;
}

/* header */
.banner {
  background-image: url("../images/banner/banner2.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 1600px;
  height: 809px; */
  padding: 50px;
}

.heading {
  margin: 130px 180px 24px 700px;
  color: #151414;
  text-align: right;
  font-size: 65px;
  font-weight: 700;
}

.para {
  color: #444343;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 0px 180px 32px 850px;
}

.btn {
  display: flex;
  justify-content: right;
  margin: 0px 180px auto auto;
  width: 160px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 5px;
  background-color: #f15b22;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  border: none;
}

/* main */
.failures {
  display: flex;
}
.person {
  margin: 60px 60px 60px 150px;
}
.previousHeading {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}
.previousPara {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-bottom: 15px;
}
.previousLi {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.list {
  margin: 300px 300px auto 40px;
}
.list ul li {
  margin-left: 45px;
}

.myPlan {
  color: var(--Dark-01, #151414);
  font-family: Work Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.planTitle {
  color: var(--Dark-01, #151414);
  text-align: center;
  font-family: Work Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.planPara {
  color: var(--Dark-03, #737272);
  text-align: center;
  font-family: Work Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.planImg {
  width: 92.958px;
  height: 92.958px;
  flex-shrink: 0;
  padding-left: 25%;
}
.plan-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.myPlan {
  text-align: center;
  margin-bottom: 50px;
}

.plan {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 130px;
}
.watch {
  width: 1050px;
  /* height: 300px; */
  flex-shrink: 0;
  border-radius: 8px;

  border-radius: 8px;
  /* background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%); */
  background-image: linear-gradient(#f15b22, rgba(241, 91, 34, 0)),
    url("../images/watch.png");
  /* background-image: url("../images/watch.png"); */
  background-repeat: no-repeat;
  padding-left: 64px;
  padding-top: 59px;
  padding-bottom: 60px;
}
.positive {
  margin-bottom: 100px;
  margin-left: 260px;
  margin-right: auto;
}
.watchHeading {
  color: #fff;

  font-family: Work Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}
.btnCall button {
  color: #f15b22;
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 10px;
  border-radius: 5px;
  border: none;

}
/* footer */
.contact {
  height: 500px;
  flex-shrink: 0;
  background: var(--Dark-01, #151414);
}
.contact h1 {
  color: #f8f8f8;

  font-family: Work Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}
.contact p {
  color: #fff;

  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-bottom: 20px;
}
.future {
  width: 485px;
}
.subscribe h3 {
  color: #fff;

  font-family: Work Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 130px auto auto 230px;
  margin-bottom: 20px;
}
.subscribe input {
  width: 325px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #fff;
  padding: 10px;
  margin-bottom: 20px;
}
.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 230px;
  padding-right: 230px;
}
.subscribe button{
  color: #f15b22;
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
